* {
    font-family: sans-serif;
}

body {
    width: 600px;
}

.invert-color {
    filter: invert(1);
}

a img {
    transition: transform 0.2s ease-out;
}

a:hover img {
    transform: scale(1.1);
}

.footer {
    border-top: 1px solid #d3d3d3;
}

.settings {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
}

.settings .btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0rem 0.25rem;
    border-radius: 0 0 0 0.5rem;
}

.settings .btn img {
    position: relative;
    top: -0.5px;
}

.settings .dropdown-item {
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    color: #484848;
}

.settings .dropdown-item.start {
    border-radius: 0.25rem 0.25rem 0 0;
}

.settings .dropdown-item.end {
    border-radius: 0 0 0.25rem 0.25rem;
}

.settings .sign-out:hover {
    background-color: #e35966;
    color: white;
}

.settings .dropdown-menu {
    padding: 0;
    font-size: 0.8rem;
    border-width: 3px;
}

.settings .dropdown-divider {
    margin: 0;
}

.loading-circle {
    position: relative;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 5px solid #ffffff9b;
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
